<footer>
  <!-- this is the nav link section -->
  <section
    class="footer-nav-link flex pt-2 mb-2 place-content-center space-x-4 text-sm font-thin tracking-widest"
  >
    <a href="index.html" class="hover:scale-125">HOME</a>
    <a href="html/about.html" class="hover:scale-125">ABOUT</a>
    <a href="html/services.html" class="hover:scale-125">SERVICES</a>
    <a href="html/contact.html" class="hover:scale-125">CONTACT</a>
    <a href="html/location.html" class="hover:scale-125">LOCATION</a>
  </section>

  <!-- this is the social icon section -->
  <section class="social-icon flex mb-2 place-content-center space-x-4">
    <a href="#"
      ><img
        src="img/instagram-round-icon.svg"
        alt="instagram icon round"
        width="30" class="hover:scale-125"
    /></a>
    <a href="#"
      ><img
        src="img/facebook-round-icon.svg"
        alt="instagram icon round"
        width="30" class="hover:scale-125"
    /></a>
    <a href="#"
      ><img
        src="img/youtube-round-icon_.svg"
        alt="instagram icon round"
        width="30" class="hover:scale-125"
    /></a>
  </section>
  <section
    class="flex place-content-center mb-0 pb-2 text-base font-thin tracking-widest"
  >
    Copyright &copy; 2022 - ML Strength
  </section>
</footer>
