

  <!-- this is pure css navbar with hamburger menu -->
  <section class="top-nav">
    <section>
      <a href="/index.html"><img src="/img/ML-STRENGTH-LOGO.svg" alt="ML-STRENGTH-LOGO" width="80" class="mr-12"></a>
    </section>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <section class='menu-button'></section>
  </label>
    <ul class="menu">
      <li><a href="/index.html">
        HOME
      </a></li>
      <li><a href="/html/about.html">
        ABOUT
      </a></li>
      <li><a href="/html/services.html">
        SERVICES
      </a></li>
      <li><a href="/html/contact.html">
        CONTACT
      </a></li>
      <li><a href="/html/location.html">
        LOCATION
      </a></li>
    </ul>
  </section>
